#article_poster{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 225px;
}
#article_poster_name{
	font-family: arial;
  display: block;
  font-size: 20px;
  color: #fff;
}
#log_in_body{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main#main_form_block{
	width: 400px;
	height: 300px;
}

form#log_in_form{
	height: 100%;
  display: grid;
}
#cont{
    display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}
#sign_up_body{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main#main_form_block{
	width: 400px;
	height: 300px;
}

form#sign_up_form{
	height: 100%;
  display: grid;
}
#username{
	font-family: arial;
	margin-left: 20px;
	line-height:  10px;
	border-bottom: 1px dashed #212529;
}

#username:hover{
	border-bottom: 1px dashed #BABBAB;
}
#left-bar{
	background: #212529!important;
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 22px;
}

.left-bar-link{
	font-size: 22px!important;
	height: 66px!important;
	width: 72px!important;
	border-radius: .5rem!important;
	border-bottom: 0px solid #fff!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
}
.left-bar-link .left-bar-link-text{
	display: none;
	background-color: #212529;
	position: relative;
	font-size: 12px;
	left: 60px;
	top: -35px;
	padding: 5px 10px;
	border-radius: .25rem;
	color: #fff;
}
.left-bar-link:hover .left-bar-link-text{
	display: inline;
}

#notes-block{
	left: 250px;
    top: 50px;
    width: calc(100% - 400px);
}
.blockquote-footer::before{
	display: none;
}

#plus-button{
	display: block;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	background-color: #0D6EFD;
	border-radius: 50%;
	z-index: 100;
	cursor: pointer;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
#plus-button i{
	font-size: 25px;
	position: relative;
    top: 3px;
}

#note-header{
	padding: 0!important;
}
#note-body{
	padding: 0!important;
}
#note-text,
#note-title{
	width: 100%;
	height: 50px;
    padding: 0 20px;
	border: 0px solid #fff;
	outline: none;
}
#note-text{
	padding: 20px;
	min-height: 400px;
}
#note-files{
	cursor: pointer;
	padding: 20px;
	border: 5px dashed #BABBAB;
	width: 100%;
}
.note-image-card{
	border-top-right-radius: 0px!important;
	border-top-left-radius: 0px!important;
}
.card{
	border-radius: 10px;
}
.card-img-top{
	border-top-right-radius: 10px!important;
	border-top-left-radius: 10px!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	transition: .2s;
}
.note-file-block-link{
	width: 100%;
    border: 1px solid #0D6EFD;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.note-file-block-link span{
	text-decoration: none;
	color: #0D6EFD;
}
.note-file-block-link i{
	color: #0D6EFD;
	font-size: 30px;
	margin-right: 10px;
}
.note-file-block-link::after{
	content: '';
	position: absolute;
    width: 110%;
    height: 110%;
    background: rgba(0,0,0,0.1);
    left: -2px;
    top: -2px;
    transition: opacity 0.2s;
    
    opacity: 0;
}
.note-file-block-link:hover::after {
    opacity: 1;
}
.card{
	transition: .2s;
}
.card:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-img-top:hover ~ .card{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}