{% extends 'user_page/base.html' %}
{% load filter_tags %}
{% load static %}
{% block notes %}


<div class="main_container">

    <div class="popup">
        <form id="edit_form" action="{% url 'edit_list' %}" method='post'>
            {% csrf_token %}
        </form>
        <form id="add_form" action="{% url 'add_list' request.user.get_username %}" method='post'>
            {% csrf_token %}
        </form>
    </div>

    <div class="add_list_button">
        <span></span>
    </div>

    {% include 'include/sitebar.html' %}

    <section>
        <div class="list_grid note_grid">
            {% for list in list_list %}
            <div class="note list" value="{{ list.id }}">
                <form>{% csrf_token %}<span class="del_button"></span></form>
                <input type="hidden" value="{{ list.list }}">
                <h4 class="note_title">{{ list.title }}</h4>
                <div class="check_list">

                    {% with list.list|split:"%%_next_%%" as array %}
                    {% with 0 as n %}
                        {% for string in array %}
                            {% if string == '' %}
                            {% elif string|slice:":6" == 'done=1' %}
                                <form>
                                    {% csrf_token %}
                                    <div class="list_item">
                                        <input class="checkbox" type="checkbox" checked>
                                        <label value="{{ n }}">{{ string|slice:"6:" }}</label>
                                    </div>
                                </form>
                                {% update_variable n as n %}
                            {% else %}
                                <form>
                                    {% csrf_token %}
                                    <div class="list_item">
                                        <input class="checkbox" type="checkbox">
                                        <label value="{{ n }}">{{ string|slice:"6:" }}</label>
                                    </div>
                                </form>
                                {% update_variable n as n %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    {% endwith %}

                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

	$('.list_item').click(function(e) {
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: 'check',
			data: {
			    csrfmiddlewaretoken: getCookie('csrftoken'),
				check: $(this).find('input').prop('checked'),
				id: $(this).closest('.list').attr('value'),
				num: $(this).closest('.list_item').find('label').attr('value')
			},
			success:function(){

			}
		})
	})

	$('.del_button').click(function(e) {
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: 'del',
			data: {
			    csrfmiddlewaretoken: getCookie('csrftoken'),
				id: $(this).closest('.list').attr('value')
			},
			success:function(){

			}
		})
		$(this).closest('.list').remove()
	})

</script>


{% endblock notes %}

