{% extends 'user_page/base.html' %}
{% load filter_tags %}
{% load static %}
{% block notes %}


<div class="main_container">

    <div class="popup">
        <form id="edit_form" action="{% url 'edit_note' %}" method='post'>
            {% csrf_token %}
        </form>
        <form id="add_form" action="{% url 'add_note' request.user.get_username %}" method='post'>
            {% csrf_token %}
        </form>
    </div>

    <a href="{% url 'add_project' request.user.get_username %}">
        <div class="add_project_button">
            <span></span>
        </div>
    </a>

    {% include 'include/sitebar.html' %}

    <section class="note_section project_section">
        <h1 class="title">{{ project.title }}</h1>
        <div class="project_block {{ project.style }}">

            <h1>Notes</h1>
            <div class="note_grid">
                {% for note in project.note.all %}
                <div class="note project_note" value="{{ note.id }}">
                    <input class="_text_input" type="hidden" value="{{ note.text }}">
                    <form><span class="del_button"></span></form>
                    <h4 class="note_title">{{ note.title }}</h4>
                </div>
                {% endfor %}
                <div class="add_note_block">
                    <span id="add_note"></span>
                </div>
            </div>

            <h1>Lists</h1>
            <div class="list_grid note_grid">
                {% for list in project.list.all %}
                <div class="project_list note list" value="{{ list.id }}">
                    <form class="_del_form"><span class="del_button"></span></form>
                    <h4 class="_list_title note_title">{{ list.title }}</h4>
                </div>
                {% endfor %}
                <div class="add_list_block">
                    <span id="add_list"></span>
                </div>
            </div>

            <form>
                {% csrf_token %}

                <div class="styling_block">
                    <label class="container">
                        <input value='white' name="color" type="radio">
                        <span id="white" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='green' name="color" type="radio">
                        <span id="green" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='red' name="color" type="radio">
                        <span id="red" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='blue' name="color" type="radio">
                        <span id="blue" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='fiolet' name="color" type="radio">
                        <span id="fiolet" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='orange' name="color" type="radio">
                        <span id="orange" class="checkmark"></span>
                    </label>

                    <label class="container">
                        <input value='roze' name="color" type="radio">
                        <span id="roze" class="checkmark"></span>
                    </label>
                </div>

            </form>

                <div class="every_day_remind_block">
                    <label id="lab_every_day" for="every_day_remind">Every day remind</label>
                    <label id="lab_deadline" for="deadline">Deadline</label>
                    <input id="deadline" name="deadline" type="time">
                    <input id="every_day_remind" name="every_day_remind" type="datetime-local">
                </div>

        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>

    $('#{{ project.style }}').parent().find('input').prop('checked', true)

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

	$('.container input[name="color"]').click(function() {

		$.ajax({
			type: 'POST',
			url: '/userpage/project_detail/color/',
			data: {
			    csrfmiddlewaretoken: getCookie('csrftoken'),
				color: $(this).val(),
				id: '{{ project.id }}'
			},
			success:function(){

			}
		})
		$(this).closest('.project').remove()
	});





</script>

{% endblock notes %}
