{% extends 'user_page/base.html' %}
{% load filter_tags %}
{% load static %}
{% block notes %}


<div class="main_container">

    <a href="{% url 'add_project' request.user.get_username %}">
        <div class="add_project_button">
            <span></span>
        </div>
    </a>

    {% include 'include/sitebar.html' %}

    <section class="note_section">
        <div class="project_grid">
            {% for project in projects_list %}
            <a value="{{ project.id }}" class="project" href="{% url 'project_detail' project.id %}">
                <form>{% csrf_token %}<span class="del_button"></span></form>
                {% if project.title|length > 20 %}
                <h4 class="project_title">{{ project.title|slice:":20" }}...</h4>
                {% else %}
                <h4 class="project_title">{{ project.title }}</h4>
                {% endif %}
            </a>
            {% empty %}
            <h1 class="trouble_messege">it's too empty here. <span class="add_project_a">let's fix it</span></h1>
            {% endfor %}
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

	$('.del_button').click(function(e) {
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: 'del',
			data: {
			    csrfmiddlewaretoken: getCookie('csrftoken'),
				id: $(this).closest('.project').attr('value'),
				_del: 0
			},
			success:function(){

			}
		})
		$(this).closest('.project').remove()
	})



</script>

{% endblock notes %}
