{% extends 'user_page/base.html' %}
{% load filter_tags %}
{% load static %}
{% block notes %}


<div class="main_container">

    <div class="popup">
        <form id="edit_form" action="{% url 'edit_note' %}" method='post'>
            {% csrf_token %}
        </form>
        <form id="add_form" action="{% url 'add_note' request.user.get_username %}" method='post'>
            {% csrf_token %}
        </form>
    </div>

    {% include 'include/sitebar.html' %}

    <section>
        {% if note_list or list_list or project_list %}

        <h1 class="caption">Notes</h1>
        <div class="note_grid">
            {% for note in note_list %}
            <div class="note" value="{{ note.id }}">
                <input type="hidden" value="{{ note.text }}">
                <h4 class="note_title">{{ note.title }}</h4>
                {% if note.text|length >= 150 %}
                <p class="text">{{ note.text|slice:":150" }}...</p>
                {% else %}
                <p class="text">{{ note.text }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <h1 class="caption">Lists</h1>
        <div class="list_grid">
            {% for list in list_list %}
            <div class="list" value="{{ list.id }}">
                <input type="hidden" value="{{ list.text }}">
                <h4 class="list_title">{{ list.title }}</h4>
                <p class="text">{{ list.text }}</p>
            </div>
            {% endfor %}
        </div>

        <h1 class="caption">Projects</h1>
        <div class="project_grid">
            {% for project in project_list %}
            <div class="project" value="{{ project.id }}">
                <input type="hidden" value="{{ project.text }}">
                <h4 class="project_title">{{ project.title }}</h4>
            </div>
            {% endfor %}
        </div>

        {% else %}
            <h1 class="trouble_messege">Nothing to see here</h1>
        {% endif %}

    </section>


</div>


{% endblock notes %}

<!--<div>-->
<!--    <ul>-->
<!--        {% for list in lists_list %}-->
<!--        <li>-->
<!--            <h4>{{ list.title }}</h4>-->
<!--            {% with list.list|split:"%%_next_%%" as array %}-->
<!--                <div>-->
<!--                    {% for string in array %}-->
<!--                        {% if string == '' %}-->
<!--                        {% elif string|slice:":6" == 'done=1' %}-->
<!--                            <input type="checkbox" checked>-->
<!--                            <label>{{ string|slice:"6:" }}</label><br>-->
<!--                        {% else %}-->
<!--                            <input type="checkbox">-->
<!--                            <label>{{ string|slice:"6:" }}</label><br>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            {% endwith %}-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
<!--<br>-->
<!--<div>-->

<!--    <h1>List</h1>-->

<!--    <form action="{% url 'add_list' request.user.get_username %}" method="post">-->
<!--        {% csrf_token %}-->

<!--        <label>Title</label><br>-->
<!--        <input type="text" name="title"><br>-->

<!--        <input id="list_input" type="hidden" name="list" value="">-->

<!--        <div id="list">-->

<!--        </div>-->
<!--        <div id="add_list">Add list</div>-->

<!--        <label>Date of remind</label><br>-->
<!--        <input type="datetime-local" name="remind"><br>-->

<!--        <label>Deadline</label><br>-->
<!--        <input type="date" name="deadline"><br>-->


<!--        <input id="done_list" type="submit">-->
<!--    </form>-->

<!--</div>-->
