{% load filter_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<style>
    div{
        background: #B8B7B7;
        padding: 5px;
    }



</style>

<p>{{ request.user }}</p>

<a href="{% url 'logout' %}">Logout</a>

<div>

    <ul>
        {% for note in note_list %}
        <li>
            <h4>{{ note.title }}</h4>
            <p>{{ note.text }}</p>
        </li>
        {% endfor %}
    </ul>

</div>
<br>

<div>

    <form action="{% url 'add_note' request.user.get_username %}" method="post">
        {% csrf_token %}

        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="contactcomment" class="editContent">Ваш комментарий</label><br>
        <textarea rows="5" name="text" id="contactcomment" required=""></textarea><br>

        <label for="files">Files</label><br>
        <input type="file" id="files" name="files"><br>

        <label for="remind">Date of remind</label><br>
        <input type="datetime-local" id="remind" name="remind"><br>

        <label for="deadline">Deadline</label><br>
        <input type="date" id="deadline" name="deadline"><br>


        <input type="submit">
    </form>

</div>

<div>
    <ul>
        {% for list in lists_list %}
        <li>
            <h4>{{ list.title }}</h4>
            {% with list.list|split:"%%_next_%%" as array %}
            {% for string in array %}
            <div>
                {% if string|slice:":6" == 'done=1' %}
                <input type="checkbox" checked>
                <label>{{ string|slice:"6:" }}</label>
                {% else %}
                <input type="checkbox">
                <label>{{ string|slice:"6:" }}</label>
                {% endif %}
                {% endfor %}
            </div>
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>


</body>
</html>