{% extends 'base_user_page.html' %}
{% load static %}

{% block user_page %}

<body class="vsc-initialized">

<main>

    <div class="row" id="notes-block" data-masonry="{&quot;percentPosition&quot;: true }" style="height: 688px;">
        {% for note in notes %}
        <div class="note-block col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3323%; top: 0px;">
            <div class="modal fade" id="edit-note-modal" tabindex="-1" role="dialog" aria-labelledby="add-note-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="{% url 'create_or_update_note' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="note-id" name="id" type="hidden" value="{{ note.id }}">
                            <input name="edit" value="True" type="hidden">
                            <div id="note-header" class="modal-header">
                                <input name="title" type="text" id="note-title" placeholder="Title" value="{{ note.title }}">
                            </div>
                            <div id="note-body" class="modal-body">
                                <textarea class="resize-ta" name="text" id="note-text-edit"
                                          placeholder="Text">{{ note.text }}</textarea>
                                {% for file in note.get_files %}
                                    {% if file.is_image %}
                                    <div class="note-detail-image"
                                        style="background: url('{{ note.get_files.0.file.url }}');"></div>
                                    {% else %}
                                    <a href="{{ file.file.url }}" class="edit-note-file note-file-block-link">
                                        <i class="fas fa-file-alt"></i>
                                        <span class="file-icon">{{ file.filename }}</span>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                                <div class="custom-file">
                                    <input name="files" id="note-files" multiple="true" type="file"
                                           class="custom-file-input"
                                           id="customFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <input name="id" value="{{ note.id }}" type="hidden">
            {% if note.get_files|length > 0 %}
            {% if note.get_files.0.is_image %}
            <div id="article_poster" class="bd-placeholder-img card-img-top"
                 style="background: url('{{ note.get_files.0.file.url }}');"></div>
            <div class="note-image-card card p-3">
                {% else %}
                <div class="card p-3">
                    <a href="{{ note.get_files.0.file.url }}" class="note-file-block-link">
                        <i class="fas fa-file-alt"></i>
                        <span class="file-icon">{{ note.get_files.0.filename }}</span>
                    </a>
                    {% endif %}
                    {% else %}
                    <div class="card p-3">
                        {% endif %}
                        <figure class="p-3 mb-0">
                            <blockquote class="blockquote">
                                <p>{{ note.title }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-muted">
                                {{ note.get_text }}
                            </figcaption>
                        </figure>
                    </div>
                </div>
        {% endfor %}
    </div>
</main>

<div id="plus-button"><i class="fas fa-plus"></i></div>

<!-- Modal -->
<div class="modal fade" id="add-note-modal" tabindex="-1" role="dialog" aria-labelledby="add-note-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'create_or_update_note' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="note-header" class="modal-header">
                    <input name="title" type="text" id="note-title" placeholder="Title">
                </div>
                <div id="note-body" class="modal-body">
                    <textarea class="resize-ta" name="text" id="note-text-add" placeholder="Text"></textarea>
                    <div class="custom-file">
                        <input name="files" id="note-files" multiple="true" type="file" class="custom-file-input"
                               id="customFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

{% endblock user_page %}