{% load static %}
<header>
    {% if request.user is None %}
    <div class="burger_button">
        <span></span>
    </div>
    {% endif %}
    <div class="logo">
        <a href="/" style="background-image: url('{% static 'img/user_page/logo.png' %}')" class="logo_url"></a>
    </div>
    {% if request.user is None %}
    <div class="search">
        <div class="search_icon"><i class="fa fa-search" style="font-family:'Roboto', sans-serif, FontAwesome"></i>
        </div>
        <form action="{% url 'search' %}" method="get">
            <input name="q" class="search_input" type="search" placeholder="Search">
        </form>
    </div>
    <div class="user_buttons">
        <a href="" class="button">Settings</a>
        <a href="{% url 'logout' %}" class="button logout_button">Logout</a>
    </div>
    {% endif %}
</header>