<div class="sitebar">
    <ul class="sitebar_list">
        <li class="sitebar_element">
            <div class="icon">
                <i id="note_icon" class="far fa-sticky-note"></i>
            </div>
            <a href="{% url 'profile' %}">Notes</a>
        </li>
        <li class="sitebar_element">
            <div class="icon">
                <i class="fas fa-list-ul"></i>
            </div>
            <a href="">Lists</a>
        </li>
        <li class="sitebar_element">
            <div class="icon">
                <i id="project_icon" class="fas fa-project-diagram"></i>
            </div>
            <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="sitebar_element">
            <div class="icon">
                <i class="far fa-trash-alt"></i>
            </div>
            <a href="">Bin</a>
        </li>
    </ul>
</div>