.popup_background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	z-index: -9;
}
.popup_background_active{
	opacity: 0.3;
	z-index: 9;
}
.popup_exit_button{
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: -9;
	background: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
	cursor: pointer;
}
.popup_exit_button:hover{
	background: rgba(0, 0, 0, 0.5);
}
.popup_exit_button_active{
	z-index: 9;
}
.popup_exit_button span{
	display: block;
	transform: rotate(45deg);
	width: 30px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
}
.popup_exit_button span::before{
	content: '';
	display: block;
	top: 20px;
	right: 20px;
	transform: rotate(-90deg);
	width: 30px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	z-index: 9;
}
.popup_block{
	position: fixed;
	top: calc( 50% - 250px );
	left: calc( 50% - 200px );
	width: 400px;
	height: 500px;
	background-color: #F5F7FA;
	border: 2px #50C1E9 solid;
	border-radius: 5px;
	display: grid;
	grid-template-rows: 40px auto 40px;
	grid-gap: 10px;
	padding: 10px;

	z-index: 10;
}
.popup_block .title_input{
	width: 100%;
	border: 0px #000 solid;
	background-color: #F5F7FA;
	color: #000;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.popup_block textarea{
	resize: none;
	background-color: #F5F7FA;
	border: 0px #000 solid;
	color: #000;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.popup_block textarea:focus{
	outline: none;
	background-color: #fff;
}
.popup_block .title_input:focus{
	outline: none;
	background-color: #fff;
}
.popup_block .title_input::placeholder{
	color: #000;
}
.buttons_block{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.submit_button{
	padding: 5px 10px;
	border: 0px #000 solid;
	border-radius: 5px;
	background-color: #7A57D1;
	color: #fff;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: .1s;
	cursor: pointer;
}
.submit_button:hover,
.add_list_item:hover{
	background-color: #50C1E9;
}
.add_list_item{
    padding: 5px 10px;
	border: 0px #000 solid;
	border-radius: 5px;
	background-color: #7A57D1;
	color: #fff;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: .1s;
	cursor: pointer;
	margin-right: 10px;
}


header{
	position: fixed;
	background-color: #5BE7C4;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	border-bottom: 4px #50C1E9 solid;
}

.burger_button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px #50C1E9 solid;
	margin-left: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
}
.burger_button:hover{
	border: 5px #fff solid;
}
.burger_button span{
	display: block;
	width: 20px;
	height: 3px;
	background: #fff;
	border-radius: 3px;
}
.burger_button span::before,
.burger_button span::after{
	display: block;
	content: '';
	background-color: #fff;
	border-radius: 3px;
	width: 20px;
	height: 3px;
	position: relative;
}
.burger_button span::before{
	top: -6px;
}
.burger_button span::after{
	top: 3px;
}

.logo{
	height: 60px;
	width: 60px;
	margin-right: 50px;
}
.logo_url{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
}
.user_buttons{
	margin-right: 40px;
	height: 100%;
	width: 17%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.button{
	display: block;
	align-content: center;
	background-color: #50C1E9;
	padding: 6px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	border-radius: 20px;
	border: 2px #40ACD5 solid;
	transition: .2s;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.logout_button{
	background-color: #5BE7C4 !important;
	color: #50C1E9;
}
.logout_button:hover{
	border: 2px #40ACD5 solid !important;
	background-color: #50C1E9 !important;
	color: #fff;
}
.button:hover{
	border: 2px #fff solid;
}
.search{
	width: 45%;
	height: 40px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search form{
	width: 94%;
	height: 100%;
}
.search_input{
	font-family: 'Roboto', FontAwesome;
	width: 99%;
	height: 100%;
	padding: 11px 0 8px 0;
	color: #A9A9A9;
	font-size: 18px;
	border: 0px #000 solid;
	border-radius: 5px;
}
.search_icon{
	font-family: 'Roboto', FontAwesome;
	width: 6%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_icon i{
	color: #A9A9A9;
	size: 4px;
	margin: auto;
}
.search_input::-webkit-search-cancel-button{
	background: #fff !important;
	cursor: pointer;
}
.main_container{
	width: 100%;
	height: 100vh;
}
.sitebar{
	height: 100vh;
	width: 50px;
	position: fixed;
	background-color: #5BE7C4;
	transition: .2s;
	transition-delay: .25s;
	padding-top: 90px;
	overflow: hidden;
	z-index: 4;
}
.sitebar:hover{
	width: 160px;
}
.sitebar_active{
	width: 160px;
}
.sitebar_list{
	width: 90%;
	position: relative;
	left: 10px;
}
.sitebar_element{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.sitebar_element .icon{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.sitebar_element i{
	font-size: 30px;
	width: 30px;
	align-content: center;
	color: #fff;
}
.sitebar_element a{
    display: flex;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	transition-duration: .2s;
	transition-delay: .25s;
}
#project_icon{
	font-size: 25px !important;
}
#note_icon{
	margin-left: 3px;
}

section{
	display: grid;
	grid-template-rows: 20px auto 20px auto 20px auto;
	justify-content: center;
	grid-gap: 10px;
    padding: 30px;
	width: calc( 100% - 50px );
	height: calc( 100% - 56px );
	position: absolute;
	right: 0;
	bottom: 0;
}
.note_grid{
	width: 85%;
	height: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  float: left;
}
.note{
	width: 235px;
	min-height: 170px;
	justify-self: center;

	background-color: #F5F7FA;
	border: 2px #50C1E9 solid;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0px 0px #BABBAB;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	top: auto;
	cursor: pointer;
}
.note .text{
    width: 215px;
}
.active_note{
	width: 400px;
	height: 500px;
	top: calc( 50% - 250px);
	left: calc( 50% - 200px);
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 30px;
	z-index: 10;
}
.note:hover{
	box-shadow: 0px 1px #BABBAB;
}
.note_title{
	width: 100%;
	margin-bottom: 10px;
}
.active_note .text{
	margin-top: 20px;
	width: 340px;
}

.add_list_button,
.add_note_button,
.add_project_button
{
	display: block;
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #50c1e9;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	cursor: pointer;
}
.add_list_button span,
.add_note_button span,
.add_project_button span{
	display: block;
	width: 27px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;
}
.add_list_button span::before,
.add_note_button span::before,
.add_project_button span::before{
	position: relative;
	content: '';
	display: block;
	width: 27px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;
	transform: rotate(90deg);
}

.caption{
    margin: 10px 0;
	font-size: 27px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 100%;
}
.trouble_messege{
	grid-row: 1 / 7;
	grid-column: 1 / 6;
    width: 600px;
    text-align: center;
	margin: auto;
	font-size: 27px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: #babbab;
	letter-spacing: 2px;
}
.add_list_a,
.add_note_a{
    cursor: pointer;
    color: #40ACD5;
    transition: .1s;
}
.add_list_a:hover,
.add_note_a:hover{
    border-bottom: 2px #40ACD5 solid;
}


.check_list{
	display: grid;
}
.list_item{
	margin: 1px 0;
	width: auto;
}
.check_list label{
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}
.checkbox{
	width: 13px;
	height: 13px;
}
.list_items_block{
}

.popup_block{
	align-items: flex-start;
	padding: 20px;
}
._list_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list_items_block .list_item_text{
	width: 93%;
	height: 25px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #babbab;
	border: 0px #000 solid;
	background-color: #F5F7FA;
}
.list_items_block .list_item_text:focus{
	outline: none;
	color: #000;
	background-color: #fff;
}
.list{
    min-height: 200px;
}

.note:hover .del_button{opacity: 1;}
.del_button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .7);
	width: 20px;
	height: 20px;
	position: relative;
	left: 213px;
	bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transition: .3s;
}
.del_button::before,
.del_button::after{
	content: '';
	display: block;
	width: 13px;
	height: 3px;
	background-color: #fff;
	position: relative;
	border-radius: 3px;
}
.del_button::before{
	left: 5px;
	transform: rotate(45deg);
}
.del_button::after{
	right: 5px;
	transform: rotate(-45deg);
}
.active_label{
    text-decoration: line-through;
}


.project_grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    grid-row: 1 / 7;


}
.project{
    width: 100%;
    height: 150px;
    margin: 10px 0;
    text-decoration: none;

	background-color: #F5F7FA;
	border: 2px #50C1E9 solid;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0px 0px #BABBAB;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	top: auto;
	cursor: pointer;
	transition: .2s;
}
.project_title{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.project:hover{
	box-shadow: 0px 1px #BABBAB;
}
.project .del_button{
    left: 675px;
}
.project:hover .del_button{opacity: 1;}


.project_section{
	display: grid;
	grid-template-rows: 30px auto;
	grid-template-columns: 100%;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
}
.project_section .note_grid{
	grid-template-columns: 1fr 1fr 1fr 1fr !important;
}
.project_block{
	margin-top: 30px;
	box-shadow: 0 0 5px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;

	display: grid;
	grid-template-rows: 60px auto 60px auto 60px 100px 100px;
	padding-left: 15px;
}
.project_block h1{
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #000;
	padding-top: 30px;
	padding-left: 20px;
}
.project_section .title{
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #000;
}
.project_note{
	height: 90px;
	min-height: 90px !important;
	grid-row: auto !important;
}
.project_list{
	height: 96px !important;
	min-height: 96px !important;
	grid-row: auto !important;
}
.container {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */

.checkmark::before{
  content: "";
  display: block;
  position: relative;
  height: 48px;
  width: 48px;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  border: 2px #fff solid;
  opacity: 0;
  transition: .2s;
}

.container input ~ #green {
  background-color: #08ffc8;
}
.container input ~ #red {
  background-color: #e42c64;
}
.container input ~ #blue {
  background-color: #515bd4;
}
.container input ~ #fiolet {
  background-color: #8134af;
}
.container input ~ #orange {
  background-color: #FF4800;
}
.container input ~ #roze {
  background-color: #F54EA2;
}
.container input ~ #white {
  background-color: #babbab;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ #green::before{
  border: 2px #08ffc8 solid;
  opacity: 1;
}
.container input:checked ~ #red::before{
  border: 2px #e42c64 solid;
  opacity: 1;
}
.container input:checked ~ #blue::before{
  border: 2px #515bd4 solid;
  opacity: 1;
}
.container input:checked ~ #fiolet::before{
  border: 2px #8134af solid;
  opacity: 1;
}
.container input:checked ~ #orange::before{
  border: 2px #FF4800 solid;
  opacity: 1;
}
.container input:checked ~ #roze::before{
  border: 2px #F54EA2 solid;
  opacity: 1;
}
.container input:checked ~ #white::before{
  border: 2px #babbab solid;
  opacity: 1;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 7px;
  transform: rotate(-45deg);

  width: 20px;
  height: 10px;

  border-bottom: 5px white solid;
  border-left: 5px white solid;
}

.styling_block{
	display: flex;
	margin-left: 50px;
}

.every_day_remind_block{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	padding: 20px;
}
.every_day_remind_block input{
	width: 200px;
	justify-self: center;
}
.every_day_remind_block label{
	font-size: 20px;
	justify-self: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #000;
}
.every_day_remind_block label#lab_every_day{
	margin-left: -45px;
}
.every_day_remind_block label#lab_deadline{
	margin-left: -120px;
}
.green{
    background-color: #B3FFEE;
}
.red{
    background-color: #F0A1B9;
}
.blue{
    background-color: #B1B5E0;
}
.fiolet{
    background-color: #E0B3FA;
}
.orange{
    background-color: #FDBBA2;
}
.roze{
    background-color: #FFAFD6;
}
.white{
    background-color: #fff;
}

.add_list_block{
    height: 96px !important;
}
.add_note_block,
.add_list_block{
	opacity: .5;
	transition: .2s;
	width: 235px;
    justify-self: center;
    background-color: #F5F7FA;
    border: 2px #50C1E9 solid;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px #BABBAB;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    top: auto;
    cursor: pointer;
}
.add_note_block:hover,
.add_list_block:hover{
	opacity: 1;
}
#add_note,
#add_list{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #50C1E9;
	position: relative;
	top: 12px;
	left: 80px;
}
#add_note{
    top: 8px;
}
#add_note::before,
#add_note::after,
#add_list::before,
#add_list::after{
	display: block;
	content: '';
	position: relative;
	background-color: #fff;
	width: 27px;
	height: 5px;
	top: 23px;
	left: 11px;
	border-radius: 5px;
}
#add_note::after,
#add_list::after{
	transform: rotate(90deg);
	top: 18px;
}